<!DOCTYPE html>
<html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<title>Documentation</title>
<body>

<h1> Hikaye Çizim Arayüzü!</h1>

<div style="margin-right: 20%; margin-bottom: 15%; margin-left: 20%;">
<p> Hikaye Çizim Arayüzü adlı bu projenin asıl amacı sözlü ifadeyi çizime dökerken çocukların hikayeler aracılığıyla müzeyi ve eserleri öğrenmesini sağlamaktır. Sözlü ifadeleri sesli okunan, anlatılan sahneler ve hikayeler oluşturmaktadır. Bu ifadeler kaydedildikten sonra, sahneye uygun resimler çizilecektir. Bu uygulama ile okuma sürecinin özellikle çocuklar için zenginleştirilmesi hedeflenmektedir. Bu uygulama ile özellikle gelişim çağındaki çocukların ilgisi çekilerek, çocukların gelişimlerine katkı sağlanması hedeflenmektedir. Aynı zamanda bu uygulamanın etkileşimli eğitim olanaklarını da arttırması beklenmektedir.</p></div>


<div style="vertical-align: middle;display: table-cell;background-color:#FFEED6;width: 15%;">	
    <div style="vertical-align: middle;display: table-cell;background-color:#FFEED6;width: 15%;">
		{% load static %}
		<form action='index' method='GET'>
			<button type="submit" name="button" class="button back"><span class="center"></span></button>
		</form>
	</div>
</div>
	
</body>
</html>