<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style type="text/css">

      </style>
    <title>p5.js example</title>
      {{ files }}
      {% load staticfiles %}
        {{ objs | json_script:"objs" }}
        <script type="text/javascript" src="{% static "p5.js" %}"></script>
        <script type="text/javascript" src="{% static "sketch2.js" %}"></script>
  </head>
  <body>
  </body>
</html>
